x-django-config: &backend
  build:
    context: ./backend
    dockerfile: Dockerfile
  image: drss-backend
  restart: always
  volumes:
    - ./backend:/usr/src/app
  environment:
    - DJANGO_SETTINGS_MODULE=base.settings
    - CELERY_BROKER_URL=redis://redis:6379/0
    - CELERY_RESULT_BACKEND=redis://redis:6379/0
  env_file:
    - .env

services:
  django:
    <<: *backend
    entrypoint: uvicorn base.asgi:application --host 0.0.0.0 --port 8000 --workers 8
    ports:
      - "8000:8000"
  celery-worker:
    <<: *backend
    entrypoint: celery -A base worker --loglevel=info
  celery-beat:
    <<: *backend
    entrypoint: celery -A base beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler

volumes:
  postgres_data:
  redis_data:
