services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  celery-worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: celery -A base worker --loglevel=info
    volumes:
      - ./backend:/usr/src/app
    depends_on:
      - db
      - redis
    environment:
      - DJANGO_SETTINGS_MODULE=base.settings
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    env_file:
      - .env
  celery-beat:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: celery -A base beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    volumes:
      - ./backend:/usr/src/app
    depends_on:
      - db
      - redis
    environment:
      - DJANGO_SETTINGS_MODULE=base.settings
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    env_file:
      - .env
  # backend:
  #   build:
  #     context: ./backend
  #     dockerfile: Dockerfile
  #   command: python manage.py runserver 0.0.0.0:8000
  #   volumes:
  #     - ./backend:/usr/src/app
  #   ports:
  #     - "8000:8000"
  #   depends_on:
  #     - db
  #     - redis
  #   environment:
  #     - DJANGO_SETTINGS_MODULE=base.settings
  #     - CELERY_BROKER_URL=redis://redis:6379/0
  #     - CELERY_RESULT_BACKEND=redis://redis:6379/0
  #   env_file:
  #     - .env

volumes:
  postgres_data:
  redis_data:
